/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Roboto", Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202124;
  color: #d7d8d8;
  font-size: 14px;
  min-height: 100vh;
}
